body {
  background-color: black;
}

.dot {
  fill: white;
  stroke: white;
  stroke-width: 0.1%;
  stroke-opacity: 0.1;
  fill-opacity: 0.1;
  z-index: 2;
}

.listedButton {
  color: black;
}

.listedDoc {
  color: white;
  border-bottom: 1px dashed white;
  padding-bottom: 5px;
  margin: 5px;
}

.mapMeasure {
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1, 2;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0px;
}

#docContainer {
  margin-top: 72vh;
  width: 100%;
}

#docList {
  position: absolute;
  border: 1px solid white;
  margin-top: 10px;
  right: 10px;
  width: 27vw;
  height: 70vw;
  max-height: 70vh;
  max-width: 27vh;
  overflow: auto;
}

#docText {
  color: white;
}

#docText a {
  display: inline-block;
}

#labelButton {
  float: right;
}

#listButton {
  float: right;
  margin-left: 5px;
}

#mapBase {
  z-index: 0;
  width: 70vw;
  height: 70vw;
  max-height: 70vh;
  max-width: 70vh;
  margin: auto;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid white;
}

#predictForm {
  display: inline-block;
}

#waitContainer {
  position: absolute;
  background-color: gray;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

#waitImage {
  position: absolute;
  display: block;
  top: 35vh;
  left: 45vw;
  z-index: 100;
}

/* This is just in here so I remember animated element CSS
#testDoc {
  position: absolute;
  z-index: 1;
}
*/
